version: '3'

# For each service I will have a container

services:
    # Name of the service
  web:
    # It will build the docker file that finds in this directory
    build: .
    # Runing the service, with this output port "0.0.0.0:8000" ==> this is for django command
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
      # I want to map the port inside the container 8000 to the port outside the container 8000 ==>
      # will allow me to access the srvice from the outside the container
    ports:
      
      - "8000:8000"